{% extends "master.html" %} {% block content %}

<div class="justify-center flex">
    <button
        id="channel-add-btn"
        type="button"
        class="text-white focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-blue-800"
    >
        Add New
    </button>
</div>

<div id="main-channels-table" class="relative overflow-x-auto px-10 py-7">
    {% if channels %}
    <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-md text-gray-300 uppercase bg-gray-700">
            <tr>
                <th scope="col" class="px-6 py-3">channel_id</th>
                <th scope="col" class="px-6 py-3">channel_limit</th>
                <th scope="col" class="px-6 py-3">channel_reset</th>
                <th scope="col" class="px-6 py-3">channel_next_reset</th>
                <th scope="col" class="px-6 py-3">edit</th>
            </tr>
        </thead>
        <tbody id="main-tbody">
            {% for channel in channels %}
            <tr
                id="channel-{{ channel.id}}"
                class="border-b bg-gray-800 border-gray-700 hover:bg-gray-600 text-gray-300"
            >
                <td class="px-6 py-4">{{ channel.channel_id }}</td>
                <td class="px-6 py-4">{{ channel.channel_limit }}</td>
                <td class="px-6 py-4">{{ channel.channel_reset }} hours</td>
                <td class="px-6 py-4">{{ channel.channel_next_reset }}</td>
                <td scope="col" class="px-6 py-3">
                    <button
                        data-ch-pk="{{ channel.pk }}"
                        data-ch-id="{{ channel.channel_id }}"
                        data-ch-limit="{{ channel.channel_limit }}"
                        data-ch-reset="{{ channel.channel_reset }}"
                        data-ch-next-reset="{{ channel.channel_next_reset }}"
                        type="button"
                        class="edit-btn text-white focus:outline-none focus:ring-4 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 bg-blue-600 hover:bg-blue-700 focus:ring-blue-800"
                    >
                        Edit
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="text-white">No channels are available.</p>
    {% endif %}
</div>

<div id="add-channel-form-div" class="justify-center px-10 py-7 hidden">
    <form
        class="w-96 bg-gray-800 p-10 rounded-xl shadow-[0_35px_60px_-15px_rgba(50,50,50,0.9)]"
    >
        <div class="mb-6">
            <label
                for="channel-id"
                class="block mb-2 text-sm font-medium text-white"
                >Channel ID</label
            >
            <input
                type="number"
                id="channel-id"
                class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 text-white focus:ring-blue-500 focus:border-blue-500"
                required
            />
        </div>
        <div class="mb-6">
            <label
                for="channel-limit"
                class="block mb-2 text-sm font-medium text-white"
                >Channel Limit</label
            >
            <input
                type="number"
                id="channel-limit"
                class="text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 text-white focus:ring-blue-500 focus:border-blue-500"
                required
            />
        </div>

        <div class="mb-6">
            <label
                for="channel-reset"
                class="block mb-2 text-sm font-medium text-white"
                >Channel Reset</label
            >
            <input
                type="number"
                id="channel-reset"
                class="text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 text-white focus:ring-blue-500 focus:border-blue-500"
                required
            />
        </div>
        <button
            id="add-btn"
            type="submit"
            class="mt-3 focus:outline-none w-full text-white focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 bg-green-600 hover:bg-green-700 focus:ring-green-900"
        >
            Add
        </button>
        <div
            class="ch-add-success mt-3 text-sm text-green-400 hidden"
            role="alert"
        >
            <span class="font-medium">Channel added.</span>
        </div>

        <div class="ch-add-error mt-3 text-sm text-red-400 hidden" role="alert">
            <span class="font-medium">Error...</span>
        </div>
    </form>
</div>

<div id="update-channel-form-div" class="justify-center px-10 py-7 hidden">
    <form
        class="w-96 bg-gray-800 p-10 rounded-xl shadow-[0_35px_60px_-15px_rgba(50,50,50,0.9)]"
    >
        <div class="mb-6">
            <label
                for="update-channel-id"
                class="block mb-2 text-sm font-medium text-white"
                >Channel ID</label
            >
            <input
                type="number"
                id="update-channel-id"
                class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 text-white focus:ring-blue-500 focus:border-blue-500"
                required
            />
        </div>
        <div class="mb-6">
            <label
                for="update-channel-limit"
                class="block mb-2 text-sm font-medium text-white"
                >Channel Limit</label
            >
            <input
                type="number"
                id="update-channel-limit"
                class="text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 text-white focus:ring-blue-500 focus:border-blue-500"
                required
            />
        </div>

        <div class="mb-6">
            <label
                for="update-channel-reset"
                class="block mb-2 text-sm font-medium text-white"
                >Channel Reset</label
            >
            <input
                type="number"
                id="update-channel-reset"
                class="text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 text-white focus:ring-blue-500 focus:border-blue-500"
                required
            />
        </div>

        <button
            id="update-btn"
            type="submit"
            class="mt-3 focus:outline-none w-full text-white focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 bg-green-600 hover:bg-green-700 focus:ring-green-900"
        >
            Update
        </button>

        <button
            id="delete-btn"
            type="submit"
            class="mt-3 focus:outline-none w-full text-white focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 bg-red-600 hover:bg-red-700 focus:ring-red-900"
        >
            Delete
        </button>

        <div
            class="ch-update-success mt-3 text-sm text-green-400 hidden"
            role="alert"
        >
            <span class="font-medium">Done.</span>
        </div>

        <div
            class="ch-update-error mt-3 text-sm text-red-400 hidden"
            role="alert"
        >
            <span class="font-medium">Error...</span>
        </div>
    </form>
</div>

<script type="text/javascript">
    var data_ch_pk = "0";

    function successErrorAlert(isSuccess, isAdd) {
        if (isAdd) {
            if (isSuccess) {
                $(".ch-add-success").show();
                $(".ch-add-error").hide();

                setTimeout(() => {
                    $(".ch-add-success").hide();
                }, 3000);
            } else {
                $(".ch-add-success").hide();
                $(".ch-add-error").show();
                setTimeout(() => {
                    $(".ch-add-error").hide();
                }, 3000);
            }
        } else {
            if (isSuccess) {
                $(".ch-update-success").show();
                $(".ch-update-error").hide();

                setTimeout(() => {
                    $(".ch-update-success").hide();
                }, 3000);
            } else {
                $(".ch-update-success").hide();
                $(".ch-update-error").show();
                setTimeout(() => {
                    $(".ch-update-error").hide();
                }, 3000);
            }
        }
    }

    $(document).on("click", ".edit-btn", function (e) {
        data_ch_pk = $(this).attr("data-ch-pk");
        var data_ch_id = $(this).attr("data-ch-id");
        var data_ch_limit = $(this).attr("data-ch-limit");
        var data_ch_reset = $(this).attr("data-ch-reset");

        var channelBtn = document.getElementById("channel-add-btn");

        console.log(data_ch_id, data_ch_limit, data_ch_reset);
        document.getElementById("main-channels-table").style.display = "none";
        document.getElementById("update-channel-form-div").style.display =
            "flex";

        $("#update-channel-id").val(data_ch_id);
        $("#update-channel-limit").val(data_ch_limit);
        $("#update-channel-reset").val(data_ch_reset);

        if (channelBtn.textContent == "Go Back") {
            channelBtn.textContent = "Add New";
        } else {
            channelBtn.textContent = "Go Back";
        }
    });

    $("#update-btn").click(function (e) {
        var new_ch_id = $("#update-channel-id").val();
        var new_ch_limit = $("#update-channel-limit").val();
        var new_ch_reset = $("#update-channel-reset").val();
        var channel_id = $("#update-channel-id").val();
        $.ajax({
            type: "POST",
            url: "{% url 'api:update_channel' %}",
            data: {
                channel_pk: data_ch_pk,
                channel_id: channel_id,
                channel_limit: $("#update-channel-limit").val(),
                channel_reset: $("#update-channel-reset").val(),
                csrfmiddlewaretoken: "{{ csrf_token }}",
            },
            datatype: "json",
            success: function (data) {
                console.log(`Channel ${channel_id} updated.`);
                successErrorAlert(true, false);
            },
            error: function (error) {
                console.log(error);
                successErrorAlert(false, false);
            },
        });
        return false;
    });

    $("#delete-btn").click(function (e) {
        console.log(data_ch_pk);
        $.ajax({
            type: "POST",
            url: "{% url 'api:delete_channel' %}",
            data: {
                data_ch_pk: data_ch_pk,
                csrfmiddlewaretoken: "{{ csrf_token }}",
            },
            datatype: "json",
            success: function (data) {
                console.log(`Channel ${data} deleted.`);

                document.getElementById("main-channels-table").style.display =
                    "none";
                document.getElementById(
                    "update-channel-form-div"
                ).style.display = "hidden";

                $("#update-channel-id").val("");
                $("#update-channel-limit").val("");
                $("#update-channel-reset").val("");

                successErrorAlert(true, false);
            },
            error: function (error) {
                console.log(error);
                successErrorAlert(false, false);
            },
        });
        return false;
    });

    $("#add-btn").click(function (e) {
        $.ajax({
            type: "POST",
            url: "{% url 'api:add_channel' %}",
            data: {
                channel_id: $("#channel-id").val(),
                channel_limit: $("#channel-limit").val(),
                channel_reset: $("#channel-reset").val(),

                csrfmiddlewaretoken: "{{ csrf_token }}",
            },
            datatype: "json",
            success: function (data) {
                console.log(`Channel ${data} added.`);

                $("#channel-id").val("");
                $("#channel-limit").val("");
                $("#channel-reset").val("");

                successErrorAlert(true, true);
            },
            error: function (error) {
                console.log(error);
                successErrorAlert(true, true);
            },
        });

        return false;
    });

    $("#channel-add-btn").click(function (e) {
        var mainTable = document.getElementById("main-channels-table");
        var channelForm = document.getElementById("add-channel-form-div");
        var channelBtn = document.getElementById("channel-add-btn");

        if (mainTable.style.display != "none") {
            mainTable.style.display = "none";
            channelForm.style.display = "flex";
            channelBtn.textContent = "Go Back";
        } else {
            mainTable.style.display = "block";
            channelForm.style.display = "none";
            channelBtn.textContent = "Add New";
            $("#update-channel-form-div").hide();

            $.ajax({
                type: "GET",
                url: "{% url 'api:get_channels' %}",
                datatype: "json",

                success: (data) => {
                    console.log(data);
                    new_tbody = '<tbody id="main-tbody">';

                    data.forEach((element) => {
                        new_row = `<tr id="channel-${element.pk}" class="border-b bg-gray-800 border-gray-700 hover:bg-gray-600 text-gray-300" > \
                            <td class="px-6 py-4">${element.fields.channel_id}</td> <td class="px-6 py-4">${element.fields.channel_limit}</td> \
                            <td class="px-6 py-4">${element.fields.channel_reset} hours</td> \
                            <td class="px-6 py-4">${element.fields.channel_next_reset}</td> \
                            <td scope="col" class="px-6 py-3"> \
                                <button data-ch-pk="${element.pk}" data-ch-id="${element.fields.channel_id}" \
                                    data-ch-limit="${element.fields.channel_limit}" \
                                    data-ch-reset="${element.fields.channel_reset}" \
                                    data-ch-next-reset="${element.fields.channel_next_reset}" \
                                    type="button" class="edit-btn text-white focus:outline-none focus:ring-4 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">Edit \
                                </button> \
                            </td></tr>`;
                        new_tbody += new_row;
                    });

                    new_tbody += "</tbody>";

                    $("#main-tbody").replaceWith(new_tbody);
                },
                error: (error) => {
                    console.log(error);
                },
            });
        }
        return false;
    });
</script>

{% endblock %}
