{% extends "master.html" %} 
{% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto mt-20 lg:py-0">
        <div class="w-full rounded-lg shadow border md:mt-0 sm:max-w-md xl:p-0 bg-gray-800 border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight md:text-2xl text-white">
                    Login to your account
                </h1>
                <form class="space-y-4 md:space-y-6" action="#">
                    <div>
                        <label for="username" class="block mb-2 text-sm font-medium text-white">Username</label>
                        <input type="username" name="username" id="username" class="border sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" placeholder="" required="">
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-white">Password</label>
                        <input type="password" name="password" id="password" class="sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" required="">
                    </div>
                    
                    <a href="{% url 'dashboard:login' %}"><button type="submit" class="mt-5 focus:outline-none w-full text-white focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 bg-green-600 hover:bg-green-700 focus:ring-green-900">Login</button></a>
                    
                </form>
            </div>
            {% if error_message %}
            <div class="p-4 mb-4 text-sm rounded-lg bg-gray-800 text-red-400" role="alert">
                <span class="font-medium">Error!</span> {{ error_message }}.
              </div>
            {% endif %}
        </div>
    </div>

</form>


{% endblock %}
