{% extends "master.html" %} {% block content %}

<div class="relative overflow-x-auto px-10 py-7">
    <form>
        <label
            for="default-search"
            class="mb-2 text-sm font-medium sr-only text-white"
            >Search</label
        >
        <div class="relative">
            <div
                class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
            >
                <svg
                    class="w-4 h-4 text-gray-400"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 20 20"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                    />
                </svg>
            </div>
            <input
                type="number"
                id="default-search"
                class="block w-full p-4 pl-10 text-sm border rounded-lg bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                placeholder="Search with user id"
                required
            />
            <button
                type="submit"
                class="search-btn text-white absolute right-2.5 mr-24 bottom-2.5 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-4 py-2 bg-blue-600 hover:bg-blue-700 focus:ring-blue-800"
            >
                Search
            </button>
            <button
                type="submit"
                class="show-all-btn text-white absolute right-2.5 bottom-2.5 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-4 py-2 bg-green-600 hover:bg-green-700 focus:ring-green-800"
            >
                Show All
            </button>
        </div>
    </form>
</div>

<div class="relative overflow-x-auto px-10 py-7">
    <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-md text-gray-300 uppercase bg-gray-700">
            <tr>
                <th scope="col" class="px-6 py-3">user_id</th>
                <th scope="col" class="px-6 py-3">channel_id</th>
                <th scope="col" class="px-6 py-3">usage_left</th>
            </tr>
        </thead>
        <tbody id="main-tbody">
            {% for usage in usages %}
            <tr
                class="usage-row usage-row-{{ usage.usage_user_id }} border-b bg-gray-800 border-gray-700 hover:bg-gray-600 text-gray-300"
            >
                <td class="px-6 py-4">{{ usage.usage_user_id }}</td>
                <td class="px-6 py-4">{{ usage.usage_channel_id }}</td>
                <td class="px-6 py-4">{{ usage.usage_left }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    /*
    
    $(document).ready(function () {
        setInterval(function () {
            $.ajax({
                type: "GET",
                url: "{% url 'api:get_usages' %}",
                dataType: "json",

                success: (data) => {
                    console.log(data);

                    new_tbody = '<tbody id="main-tbody">';

                    data.forEach((element) => {
                        new_row = `<tr class="usage-row usage-row-${element.fields.usage_user_id} border-b bg-gray-800 border-gray-700 hover:bg-gray-600 text-gray-300"> \
                                    <td class="px-6 py-4">${element.fields.usage_user_id}</td> \
                                    <td class="px-6 py-4">${element.fields.usage_channel_id}</td> \
                                    <td class="px-6 py-4">${element.fields.usage_left}</td> \
                                    </tr> `;
                        new_tbody += new_row;
                    });
                    $("#main-tbody").replaceWith(new_tbody);
                },
                error: (error) => {
                    console.log(error);
                },
            });
        }, 5000);
        return false
    });

    */

    /*
    
    $(document).on('keyup', '#default-search', function(e){
        var user_id = $("#default-search").val();
        $(".usage-row").hide();
        $(`.usage-row-${user_id}`).show();
        console.log(user_id);
        return false;
    });

    */

    $(".search-btn").click(function (e) {
        var user_id = $("#default-search").val();
        $(".usage-row").hide();
        $(`.usage-row-${user_id}`).show();
        console.log(user_id);
        return false;
    });

    $(".show-all-btn").click(function (e) {
        $(".usage-row").show();
        return false;
    });
</script>

{% endblock %}
